
html, body {
    font-family: 'Lobster', cursive;
}

.header{
    display: flex;
    padding: 15px;
    background-color: #ffa500;
    width: auto;
}

.header h1 {
    flex: 1;
    justify-content: center;
    font-size: 50px;
}

#landing-home-container{

    display: flex;
    justify-content: center;
    align-items: center;
}
#login-signup-container{
    padding: 10px;
   
}

#login-signup-container h3{
    font-size: 25px;
    margin: 5px;
    margin-bottom: 10px;
    text-align: center;
}

.input-heading{
    margin: 5px;
}

#form-cont{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 10px;
    margin-top: 25px;
}

#form-cont input{
    width: 350px;
}

#form-cont button{
    font-family: 'Lobster', cursive;
    font-size: 17px;
    padding: 8px;
    width: 100px;
    border-radius: 6px;
}

#descriptive-container{
    display: flex;
    padding: 20px;
}
#description{
    width: 300px;
}

.flexitem{
    border-bottom: 5px solid black;
    border-right: 5px solid black;
    border-top: 3px solid black;
    border-left: 3px solid black;
    box-shadow: 10px 5px 5px rgb(71, 68, 68);
    border-radius: 7px;
    margin-left: 70px;
    margin-right: 70px;
    height: 400px;
    width: 600px;
}

.carousel-container{
    width: 52%;
    margin: auto;
    text-align: center;
    overflow: hidden;
}

.carousel-slide{
    display: flex;
    width: 80%;
    height: 400px;
}

